.Dialog
    background white
    width 90% !important
    height 90% !important
    .dijitDialogTitleBar
        display none
    .dijitDialogPaneContent
    iframe
        border none
        width 100% !important
        height 100% !important