.FileUploader .uploadNode {
  padding: 15px;
  box-sizing: border-box;
}
.FileUploader .uploadNode .placeHolder {
  height: 200px;
  border: 1px dashed #a9a9a9;
  position: relative;
  text-align: center;
  color: #cbcbcb;
  font-size: 2em;
}
.FileUploader .uploadNode .placeHolder .placeHolderText {
  position: relative;
  top: 40%;
}
.FileUploader .action-btns {
  text-align: center;
  padding: 10px;
}
.FileUploader .hide {
  display: none;
}
.FileUploader .dragOver .placeHolder {
  border: 1px dashed #00f435;
  color: #cbcbcb;
}
.FileUploader .dijitButton {
  position: relative;
  height: 40px;
  min-width: 100px;
  background: #009eff;
  border: none;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  line-height: 16px;
  outline: none !important;
}
.FileUploader .dijitButton:focus {
  outline: none;
}
.FileUploader .dijitButton:hover {
  box-shadow: 0px 2px 15px rgba(0,0,0,0.25);
}
.FileUploader .dijitButton .dijitButtonNode {
  border: none;
  line-height: 40px;
  padding: 0 10px;
}
.FileUploader .dijitButton .dijitButtonContents {
  outline: none !important;
}
.FileUploader .uploadItem {
  padding: 5px 0;
}
.FileUploader .uploadItem .filename {
  padding: 5px 0;
  color: #585858;
}
.FileUploader .uploadItem .closeIcon {
  color: #808080;
}
.FileUploader .uploadItem .closeIcon:hover {
  color: #f00;
}
.FileUploader .dijitProgressBar {
  border: 1px solid #dedada;
  color: #fff;
}
.FileUploader .dijitProgressBar .dijitProgressBarFull {
  height: 20px;
}
.FileUploader .dijitProgressBar .dijitProgressBarFull .dijitProgressBarTile {
  background: #009eff;
}
.FileUploader .dijitProgressBar .dijitProgressBarLabel {
  line-height: 20px;
}
