.ScanBox {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.8);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.ScanBox:hover {
  box-shadow: 0 2px 15px rgba(0,0,0,0.8);
  top: 1px;
  left: 1px;
}
.ScanBox:hover .actions-layer {
  bottom: 0px;
}
.ScanBox .actions-layer {
  position: absolute;
  bottom: -66px;
  width: 100%;
  height: 66px;
  transition: 0.5s ease-out bottom;
}
.ScanBox .actions-layer .title {
  background: #000;
  opacity: 0.5;
  padding: 6px 10px;
  line-height: 14px;
  font-size: 14px;
  color: #fff;
  height: 26px;
}
.ScanBox .actions-layer .actions {
  padding: 0 5px;
  text-align: right;
  background: #fff;
  line-height: 20px;
  font-size: 20px;
  color: #cec8c8;
}
.ScanBox .actions-layer .actions .action {
  padding: 10px 5px;
  display: inline-block;
}
.ScanBox .actions-layer .actions .action:hover {
  color: #808080;
}
.ScanBox .icon-error,
.ScanBox .processing {
  display: none;
  padding: 5px;
  position: absolute;
  top: 0;
  color: #ff0707;
  font-size: 25px;
  right: 0;
}
.ScanBox .processing {
  top: 10px;
  color: #fff;
}
.ScanBox .thumbnail {
  width: 100%;
  height: 100%;
  z-index: 9px;
}
