.ScanDetail
  padding 30px
  .input-label
    display: inline-block;
    width: 100px;
    text-align: right;
    padding: 20px;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
  .input-container
    height 40px
    width 240px
    border: 1px solid #999999;
    padding 10px 15px;
    display:inline-block
    &.dijitValidationTextBoxError
      border 1px solid red
    .dijitValidationInner
      display none //TODO
    input.dijitInputInner
      text-align left
      border  none
      line-height 18px
      width 200px
      font-size 16px;
      &:focus
        outline none
  .image-list
    min-height 400px;
    margin: 30px;
    border: 1px solid lightgray;





