.ScanDetail {
  padding: 30px;
}
.ScanDetail .input-label {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding: 20px;
  font-size: 12px;
  color: #333;
  letter-spacing: 0;
}
.ScanDetail .input-container {
  height: 40px;
  width: 240px;
  border: 1px solid #999;
  padding: 10px 15px;
  display: inline-block;
}
.ScanDetail .input-container.dijitValidationTextBoxError {
  border: 1px solid #f00;
}
.ScanDetail .input-container .dijitValidationInner {
  display: none;
}
.ScanDetail .input-container input.dijitInputInner {
  text-align: left;
  border: none;
  line-height: 18px;
  width: 200px;
  font-size: 16px;
}
.ScanDetail .input-container input.dijitInputInner:focus {
  outline: none;
}
.ScanDetail .image-list {
  min-height: 450px;
  margin: 30px;
  border: 1px solid #d3d3d3;
}
.ScanDetail .image-list .photo {
  display: inline-block;
  margin: 5px;
}
.ScanDetail .image-list .photo img {
  height: 200px;
}
.ScanDetail .image-list .photo.add-btn {
  cursor: pointer;
}
.ScanDetail .image-list .upload-btn {
  cursor: pointer;
}
.ScanDetail .button-bar {
  text-align: right;
  padding-right: 30px;
}
.ScanDetail .btn {
  position: relative;
  width: 100px;
  height: 40px;
  background: #009eff;
  border: none;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  line-height: 16px;
}
.ScanDetail .btn:focus {
  outline: none;
}
.ScanDetail .btn:hover {
  box-shadow: 0px 2px 15px rgba(0,0,0,0.25);
}
