.ScanDetail {
  padding: 30px;
}
.ScanDetail .loader-node {
  display: none;
  color: #fff;
}
.ScanDetail .loader-node.show {
  display: inline-block;
}
.ScanDetail .input-label {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding: 20px;
  font-size: 12px;
  color: #333;
  letter-spacing: 0;
}
.ScanDetail .input-container {
  height: 40px;
  width: 240px;
  border: 1px solid #999;
  padding: 10px 15px;
  display: inline-block;
}
.ScanDetail .input-container.dijitValidationTextBoxError {
  border: 1px solid #f00;
}
.ScanDetail .input-container .dijitValidationInner {
  display: none;
}
.ScanDetail .input-container input.dijitInputInner {
  text-align: left;
  border: none;
  line-height: 18px;
  width: 200px;
  font-size: 16px;
}
.ScanDetail .input-container input.dijitInputInner:focus {
  outline: none;
}
.ScanDetail .image-list {
  min-height: 350px;
  min-width: 500px;
  margin: 30px;
  border: 1px solid #d3d3d3;
}
.ScanDetail .image-list .photo {
  display: inline-block;
  margin: 5px;
  position: relative;
}
.ScanDetail .image-list .photo .image {
  text-align: center;
  line-height: 150px;
  display: block;
  color: #fff;
  background: #009eff;
  height: 150px;
  width: 150px;
}
.ScanDetail .image-list .photo .remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  display: none;
}
.ScanDetail .image-list .photo:hover .remove-btn {
  display: block;
}
.ScanDetail .image-list .photo .name {
  font-size: 8px;
  color: #2b2a2a;
  position: absolute;
  bottom: 0;
  background: #fff;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.8);
}
.ScanDetail .button-bar {
  text-align: right;
  padding-right: 30px;
}
.ScanDetail .btn {
  position: relative;
  width: 100px;
  height: 40px;
  background: #009eff;
  border: none;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}
.ScanDetail .btn.cancel {
  background: #d3d3d3;
  box-shadow: none !important;
}
.ScanDetail .btn.dijitDisabled {
  cursor: not-allowed;
  background: #d3d3d3;
  box-shadow: none !important;
}
.ScanDetail .btn:focus {
  outline: none;
}
.ScanDetail .btn:hover {
  box-shadow: 0px 2px 15px rgba(0,0,0,0.25);
}
.ScanDetail .costMsg,
.ScanDetail .errorMsg {
  padding: 0px 30px 20px;
  text-align: right;
  color: #f00;
  display: none;
}
.ScanDetail .add-btn {
  cursor: pointer;
  text-align: center;
  display: block;
  color: #fff;
}
.ScanDetail .add-btn:hover::before,
.ScanDetail .add-btn:hover::after {
  border-width: 30px;
}
.ScanDetail .hidden {
  visibility: hidden !important;
}
