.ARSelect
  outline: none
  .dijitPlaceHolder
    font-style none
    font-size 14px
  .dijitArrowButton
    border none
    position: relative; //TODO
    top: -5px;
    .fa
      color grey
.dijitComboBoxMenuPopup
  .dijitComboBoxMenu
    min-width 200px;
    border none
    box-shadow: 0px 2px 20px gray;
    .dijitMenuItem
      padding:10px;
      .dijitMenuItemLabel
        padding 0 5px;
