<div class="App">
    <div data-dojo-type='dijit/layout/BorderContainer' data-dojo-attach-point="borderContainerNode">
        <div data-dojo-type='dijit/layout/ContentPane' data-dojo-attach-point="containerNode" data-dojo-props="region:'top'" style="height: 80px;">
            <nav class="navbar" data-dojo-attach-point="headerNode">
                <div class="container">
                    <span class="msg">欢迎来到锐珂全景平台！</span>
                    <div class="navbar-nav">
                        <div class="nav-item">
                            <a href="./login.html" class="nav-link">登录</a>
                        </div>
                        <div class="nav-item">
                            <a href="./register.html" class="nav-link">注册</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div data-dojo-type='dijit/layout/ContentPane' data-dojo-props="region:'center'">
            <div data-dojo-type='dijit/layout/StackContainer' data-dojo-attach-point="stackNode">
            </div>
        </div>
    </div>
</div>