<div class="ScanDetail">
    <div data-dojo-attach-point="loaderNode" class="loaderOverlay"><i class="loader fa fa-spinner fa-spin  fa-3x"></i></div>
    <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="creationForm">
        <div class="input-group">
            <div class="input-label" >场景名称</div>
            <div class="input-container"  data-dojo-type="dijit/form/ValidationTextBox" required=true  name="title" data-dojo-attach-point="scanTitle"></div>
        </div>
        <div class="input-group">
            <div class="input-label" >图片类型</div>
            <select class="input-container" data-dojo-attach-point="scanType" data-dojo-props="value:'1'" name="type"   required=true data-dojo-type="angrui/components/Select" value="">
                <option value="0">平面照片</option>
                <option value="1">全景照片</option>
            </select>
        </div>
        <div class="input-group" data-dojo-attach-point="pointNum">
            <div class="input-label" >单点张数</div>
            <div class="input-container"  data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-point="unitNumber" name="count"  readonly data-dojo-props="value:1"></div>
        </div>
        <div class="image-list" data-dojo-attach-point="imgList">
            <div class="photo" data-dojo-attach-point="uploadButton">
                <div class="image">
                    <div class="add-btn">
                        <i class="fa fa-5x fa-plus-square-o" style="position: relative;top: 25px;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="costMsg" data-dojo-attach-point="costMsg">
            当前余额 <span data-dojo-attach-point="leftMoney"></span>元，
            本次共 <span data-dojo-attach-point="picAmount"></span> 张图片,
            预计消费 <span data-dojo-attach-point="costAmount"></span> 元,
            <span data-dojo-attach-point="errorMsg">余额不足此次消费。</span>
        </div>
    </div>
    <div class="button-bar">
        <input type="file" style="display: none;" multiple="" data-dojo-attach-point="uploadFile" />
        <button class="btn" data-dojo-type="dijit/form/Button" data-dojo-attach-point="createBtn">创建</button>
        <button class="btn cancel" data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelBtn" >取消</button>
    </div>
</div>