<div class="ScanBox">
    <img class="thumbnail" alt="" data-dojo-attach-point="imageNode">
    <div class="actions-layer">
        <div class="actions">
            <div class="title">${title}</div>
            <div class="action" data-dojo-attach-point="previewAction">
                <i class="fa fa-eye" aria-hidden="true" data-dojo-attach-event="click:preView"></i>
            </div>
            <div class="action" data-dojo-attach-point="paintAction">
                <i class="fa fa-paint-brush" data-dojo-attach-event="click:paint" ></i>
            </div>
            <div class="action" data-dojo-attach-point="editAction">
                <i class="fa fa-edit" aria-hidden="true" data-dojo-attach-event="click:edit"></i>
            </div>
            <div class="action">
                <i class="fa fa-trash" aria-hidden="true" data-dojo-attach-event="click:remove"></i>
            </div>
        </div>
    </div>
    <div class="icon-error" data-dojo-attach-point="errorIcon"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
    <div class="processing"  data-dojo-attach-point="processingIcon"><i class="fa fa-cog fa-spin fa-3x fa-fw" data-dojo-attach-point="spinner"></i></div>
</div>