// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

// Common styling
//

.{$theme_name} .dijitButtonNode {
    border: none;
}

.{$theme_name} .dijitButtonNode * {
    vertical-align: baseline;
}

.{$theme_name} .dijitButtonNode .dijitIcon {
    // Keeps button heights with and without icons the same
    margin-right: 5px;
    line-height: $dijitIcon_LineHeight;
}

.{$theme_name} .dijitButton .dijitButtonNode,
.{$theme_name} .dijitDropDownButton .dijitButtonNode,
.{$theme_name} .dijitComboButton .dijitButtonNode,
.{$theme_name} .dijitToggleButton .dijitButtonNode {
    display: block; // Stretch to fill space
    padding: 6px 14px;
    margin-bottom: 0; // For input.btn
    font-size: $dijitButtonNode_FontSize;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    buttonBackground($dijitButtonNode_BgColor, $dijitButtonNode_BgColor, $dijitButtonNode_Color, 0 1px 1px rgba(255,255,255,.75));
    border: 1px solid $dijitButtonNode_BorderColor;
    border-bottom-color: $dijitButtonNode_BorderBottomColor;
    border-radius: $dijitButtonNode_BorderRadius;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}

// Colours
.{$theme_name} .primary .dijitButtonNode, .{$theme_name} .primary {
    buttonBackground($primary_dijitButtonNode_BgColor, $primary_dijitButtonNode_BgColor);
}

.{$theme_name} .warning .dijitButtonNode {
    buttonBackground($warning_dijitButtonNode_BgColor, $warning_dijitButtonNode_BgColor);
}

.{$theme_name} .danger .dijitButtonNode {
    buttonBackground($danger_dijitButtonNode_BgColor, $danger_dijitButtonNode_BgColor);
}

.{$theme_name} .success .dijitButtonNode {
    buttonBackground($success_dijitButtonNode_BgColor, $success_dijitButtonNode_BgColor);
}

.{$theme_name} .info .dijitButtonNode {
    buttonBackground($info_dijitButtonNode_BgColor, $info_dijitButtonNode_BgColor);
}

.{$theme_name} .inverse .dijitButtonNode {
    buttonBackground($inverse_dijitButtonNode_BgColor, $inverse_dijitButtonNode_BgColor);
}

// Hover
.{$theme_name} .dijitButtonHover .dijitButtonNode,
.{$theme_name} .dijitDropDownButtonHover .dijitButtonNode,
.{$theme_name} .dijitComboButton .dijitButtonNodeHover,
.{$theme_name} .dijitComboButton .dijitDownArrowButtonHover,
.{$theme_name} .dijitToggleButtonHover .dijitButtonNode {
    text-decoration: none;
    background-position: 0 -15px;
    transition: background-position .1s linear;
    background-color: $dijitButtonNodeHover_Bgolor;
}
.{$theme_name} .primary:hover,
.{$theme_name} .primary.dijitButtonHover .dijitButtonNode,
.{$theme_name} .primary.dijitDropDownButtonHover .dijitButtonNode,
.{$theme_name} .primary.dijitComboButton .dijitButtonNodeHover,
.{$theme_name} .primary.dijitComboButton .dijitDownArrowButtonHover,
.{$theme_name} .primary.dijitToggleButtonHover .dijitButtonNode {
    background-color: $primary_dijitButtonNodeHover_Bgolor;
}

.{$theme_name} .warning.dijitButtonHover .dijitButtonNode,
.{$theme_name} .warning.dijitDropDownButtonHover .dijitButtonNode,
.{$theme_name} .warning.dijitComboButton .dijitButtonNodeHover,
.{$theme_name} .warning.dijitComboButton .dijitDownArrowButtonHover,
.{$theme_name} .warning.dijitToggleButtonHover .dijitButtonNode {
    background-color: $warning_dijitButtonNodeHover_Bgolor;
}

.{$theme_name} .danger.dijitButtonHover .dijitButtonNode,
.{$theme_name} .danger.dijitDropDownButtonHover .dijitButtonNode,
.{$theme_name} .danger.dijitComboButton .dijitButtonNodeHover,
.{$theme_name} .danger.dijitComboButton .dijitDownArrowButtonHover,
.{$theme_name} .danger.dijitToggleButtonHover .dijitButtonNode {
    background-color: $danger_dijitButtonNodeHover_Bgolor;
}

.{$theme_name} .success.dijitButtonHover .dijitButtonNode,
.{$theme_name} .success.dijitDropDownButtonHover .dijitButtonNode,
.{$theme_name} .success.dijitComboButton .dijitButtonNodeHover,
.{$theme_name} .success.dijitComboButton .dijitDownArrowButtonHover,
.{$theme_name} .success.dijitToggleButtonHover .dijitButtonNode {
    background-color: $success_dijitButtonNodeHover_Bgolor ;
}

.{$theme_name} .info.dijitButtonHover .dijitButtonNode,
.{$theme_name} .info.dijitDropDownButtonHover .dijitButtonNode,
.{$theme_name} .info.dijitComboButton .dijitButtonNodeHover,
.{$theme_name} .info.dijitComboButton .dijitDownArrowButtonHover,
.{$theme_name} .info.dijitToggleButtonHover .dijitButtonNode {
    background-color: $info_dijitButtonNodeHover_Bgolor;
}

.{$theme_name} .inverse.dijitButtonHover .dijitButtonNode,
.{$theme_name} .inverse.dijitDropDownButtonHover .dijitButtonNode,
.{$theme_name} .inverse.dijitComboButton .dijitButtonNodeHover,
.{$theme_name} .inverse.dijitComboButton .dijitDownArrowButtonHover,
.{$theme_name} .inverse.dijitToggleButtonHover .dijitButtonNode {
    background-color: $inverse_dijitButtonNodeHover_Bgolor;
}

// Active - pressed
.{$theme_name} .dijitButtonActive .dijitButtonNode,
.{$theme_name} .dijitComboButton .dijitButtonNodeActive,
.{$theme_name} .dijitToggleButtonActive .dijitButtonNode,
.{$theme_name} .dijitToggleButtonChecked .dijitButtonNode {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

.{$theme_name} .dijitDropDownButtonActive .dijitButtonNode {
    @extend .{$theme_name} .dijitDropDownButtonHover .dijitButtonNode;
}

// Disabled
.{$theme_name} .dijitButtonDisabled .dijitButtonNode,
.{$theme_name} .dijitDropDownButtonDisabled .dijitButtonNode,
.{$theme_name} .dijitComboButtonDisabled .dijitButtonNode,
.{$theme_name} .dijitToggleButtonDisabled .dijitButtonNode {
    cursor: not-allowed;
    background-image: none;
    opacity: 0.65;
    box-shadow: none;
}

.{$theme_name} .dijitToggleButtonDisabled.dijitToggleButtonChecked .dijitButtonNode {
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

// Content
.{$theme_name} .dijitButtonText {
    padding: 0 0.3em;
    text-align: center;
}

// Arrow
.{$theme_name} .dijitArrowButtonInner {
    @extend .{$theme_name} .dijitButtonNode .dijitIcon;
    height: auto;
    width: auto;
}

.{$theme_name} .dijitArrowButtonInner:before {
    @extend .dijitIcon:before;
    @extend .icon-caret-down:before;
}

.{$theme_name} .dijitUpArrowButton .dijitArrowButtonInner:before {
    @extend .icon-caret-up:before;
}

// Specific Styling
//

// Combo Box
.{$theme_name} .dijitComboButton td.dijitStretch,
.{$theme_name} .dijitComboButton td.dijitArrowButton {
    display: table-cell;
}

.{$theme_name} .dijitComboButton .dijitArrowButton {
    border-left-width: 0;
    padding: 6px 10px;
    border-radius: 0 $dijitArrowButton_BorderRadius $dijitArrowButton_BorderRadius 0;
}

.{$theme_name} .dijitComboButton .dijitArrowButton.dijitHasDropDownOpen {
    @extend .{$theme_name} .dijitButtonActive .dijitButtonNode;
}

.{$theme_name} .dijitComboButton .dijitStretch {
    border-radius: $dijitStretch_BorderRadius 0 0 $dijitStretch_BorderRadius;
}

.{$theme_name} table.dijitComboButton {
    border-collapse: separate;
}

