// Dialogs
.{$theme_name} .dijitDialog {
    background-color: $dijitDialog_BgColor;
    border-radius: $dijitDialog_BorderRadius;
    box-shadow: 0 2px 15px grey;
    border none

}

.{$theme_name} .dijitDialogCloseIcon .closeText {
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: $closeText_Color;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
    opacity: 0.2;
    display: inline;
    position: relative;
    margin-top: 2px;
}

.{$theme_name} .dijitDialogCloseIconHover .closeText {
    opacity: 0.4;
}

.{$theme_name} .dijitDialogUnderlay {
    background-color: $dijitDialogUnderlay_BgColor;
    opacity: 0.5;
}

.{$theme_name} .dijitDialogTitleBar {
    padding: 9px 15px;
    border-bottom: 1px solid $dijitDialogTitleBar_BorderBottomColor;
}

.{$theme_name} .dijitDialogTitle {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.{$theme_name} .dijitDialogPaneContentArea {
    padding: 15px;
}

.{$theme_name} .dijitDialogPaneActionBar {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: $dijitDialogPaneActionBar_BgColor;
    border-top: 1px solid $dijitDialogPaneActionBar_BorderTopColor;
    border-radius: 0 0 $dijitDialogPaneActionBar_BorderRadius $dijitDialogPaneActionBar_BorderRadius;
    box-shadow: inset 0 1px 0 $dijitDialogPaneActionBar_BoxShadowColor;
}

