
$theme_name = angrui


$corporateColor3_0 = #cc0033;  //danger or error
$corporateColor3_1 = #ff6600;  //warning
$corporateColor3_2 = #66cc33;  //success
$corporateColor3_3 = #00ccff;  //info
$corporateColor3_6 = #003333;  //inverse
$corporateColor3_4 = #ddd;     //like gray, TitlePane Border Color,
$corporateColor3_5 = #e6e6e6; //gray
$corporateColor3_7 = #eee;    // like gray
$corporateColor3_8 = #999;    // graylight, slider color
$corporateColor3_9 = #f5f5f5; //close to white
$corporateColor3_10= #000;    //black
$corporateColor3_11= rgba(0,0,0,0.2); // TimePicker BorderColor,
$corporateColor3_12= #e5e5e5     // menusparator uses this
$corporateColor3_13= #333;  // TimePicker color,
$corporateColor3_14= #ccc;  // textBox border color,
$corporateColor3_15= #555; // textbox disabled color,
$corporateColor3_16 = #0F2630; // sub menu color in navigation bar

$corporateFontColor = #1D1D1B;
$corporateLineHeight = 20px;
$corporateBtnRadius = 0px;
$corporateFontSize = 14px;


//toolbar
$dijitTooltipContainer_BgColor            = $corporateColor3_9
$dijitTooltipContainer_BorderColor        = $corporateColor3_11
$dijitTooltipContainer_BorderRadius       = $corporateBtnRadius
$dijitTooltipContainer_BoxShadowColor     = $corporateColor3_11
$dijitTooltipConnector_Width              = 5px;
$dijitTooltipConnector_BorderColor        = $corporateColor3_11
$dijitTooltipConnector_BgColor            = $corporateColor3_9

//Dialog
$dijitDialog_BgColor                      = #FFFFFF
$dijitDialog_BorderRadius                 = $corporateBtnRadius;
$closeText_Color                          = $corporateColor3_10;
$dijitDialogUnderlay_BgColor              = #c5c5c5
$dijitDialogTitleBar_BorderBottomColor    = $corporateColor3_7
$dijitDialogPaneActionBar_BgColor         = $corporateColor3_9
$dijitDialogPaneActionBar_BorderTopColor  = $corporateColor3_4
$dijitDialogPaneActionBar_BorderRadius    = $corporateBtnRadius
$dijitDialogPaneActionBar_BoxShadowColor  = $ki-corporate5-100


@import '../../libs/nib/index';
global_reset();

@import "dijit"
@import "Dialog"
@import "Tooltips"




