// Tooltips


.{$theme_name} .dijitTooltip
  box-sizing: content-box

.{$theme_name} .dijitTooltipContainer {
  background-color: $dijitTooltipContainer_BgColor;
  border: 1px solid $dijitTooltipContainer_BorderColor;
  border-radius: $dijitTooltipContainer_BorderRadius;
  box-shadow: 0 5px 10px $dijitTooltipContainer_BoxShadowColor;
  padding: 9px 14px;
}

.{$theme_name} .dijitTooltipConnector,
.{$theme_name} .dijitTooltipConnector:after {
  position: absolute;
  width: 0;
  height: 0;
  display: inline-block;
  border-color: transparent;
  border-style: solid;
}


.{$theme_name} .dijitTooltipConnector:after {
  content: "";
  z-index: -1;
}

// Above
.{$theme_name} .dijitTooltipAbove {
  padding-bottom: $dijitTooltipConnector_Width;
}

.{$theme_name} .dijitTooltipAbove .dijitTooltipConnector {
  bottom: 1px;
  border-width: $dijitTooltipConnector_Width $dijitTooltipConnector_Width 0;
  border-top-color: $dijitTooltipConnector_BgColor;
  &:after {
    border-width: $dijitTooltipConnector_Width + 1  $dijitTooltipConnector_Width + 1 0;
    border-top-color: $dijitTooltipConnector_BorderColor;
    left: -($dijitTooltipConnector_Width + 1);
    bottom: -1px;
  }
}

// Below
.{$theme_name} .dijitTooltipBelow {
  padding-top: $dijitTooltipConnector_Width;
}

.{$theme_name} .dijitTooltipBelow .dijitTooltipConnector {
  top: 1px;
  border-width: 0 $dijitTooltipConnector_Width $dijitTooltipConnector_Width;
  border-bottom-color: $dijitTooltipConnector_BgColor;
  &:after {
    border-width: 0 $dijitTooltipConnector_Width + 1  $dijitTooltipConnector_Width + 1;
    border-bottom-color: $dijitTooltipConnector_BorderColor;
    left: -($dijitTooltipConnector_Width + 1);
    top: -1px;
  }
}

// Left
.{$theme_name} .dijitTooltipLeft {
  padding-right: $dijitTooltipConnector_Width;
}

.{$theme_name} .dijitTooltipLeft .dijitTooltipConnector {
  right: 1px;
  border-width: $dijitTooltipConnector_Width 0 $dijitTooltipConnector_Width $dijitTooltipConnector_Width;
  border-left-color: $dijitTooltipConnector_BgColor;
  &:after {
    border-width: $dijitTooltipConnector_Width +1 0 $dijitTooltipConnector_Width+1 $dijitTooltipConnector_Width+1;
    border-left-color: $dijitTooltipConnector_BorderColor;
    bottom: -($dijitTooltipConnector_Width+1);
    right: -1px;
  }
}

// Right
.{$theme_name} .dijitTooltipRight {
  padding-left: $dijitTooltipConnector_Width;
}

.{$theme_name} .dijitTooltipRight .dijitTooltipConnector {
  left: 1px;
  border-width: $dijitTooltipConnector_Width $dijitTooltipConnector_Width $dijitTooltipConnector_Width 0;
  border-right-color: $dijitTooltipConnector_BgColor;
  &:after {
    border-width: $dijitTooltipConnector_Width+1 $dijitTooltipConnector_Width+1 $dijitTooltipConnector_Width+1 0;
    border-right-color: $dijitTooltipConnector_BorderColor;
    bottom: -($dijitTooltipConnector_Width+1);
    left: -1px;
  }
}

// Special
.{$theme_name} .dijitTooltipABLeft .dijitTooltipConnector {
  left: 20px;
}

.{$theme_name} .dijitTooltipABRight .dijitTooltipConnector {
  right: 20px;
}