@import "container"

html,body
  margin 0px;
  font-family: MicrosoftYaHei,STHeiti;
  height 100%;
*
  box-sizing border-box
.App
  height 100%;
  nav.navbar
    z-index 9
    border-radius 0
    background #009eff
    height 80px
    font-size: 14px;
    color: white;
    margin 0px
    padding 8px 0;
    line-height 62px
    position fixed
    width 100%
    .msg
      display inline-block
    .navbar-nav
      float:right
      display inline-block
    .nav-item
      display inline-block
      padding 0 37px 0
      &:hover
        color: black
      a
        text-decoration: none
        color: inherit