.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
html,
body {
  margin: 0px;
  font-family: MicrosoftYaHei, STHeiti;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.App {
  height: 100%;
}
.App nav.navbar {
  z-index: 9;
  border-radius: 0;
  background: #009eff;
  border-bottom: 2px solid #d3d3d3;
  height: 80px;
  font-size: 14px;
  color: #fff;
  margin: 0px;
  padding: 8px 0;
  line-height: 62px;
  position: fixed;
  width: 100%;
}
.App nav.navbar .msg {
  display: inline-block;
}
.App nav.navbar .navbar-nav {
  float: right;
  display: inline-block;
}
.App nav.navbar .nav-item {
  display: inline-block;
  padding: 0 37px 0;
}
.App nav.navbar .nav-item:hover {
  color: #000;
}
.App nav.navbar .nav-item a {
  text-decoration: none;
  color: inherit;
}
