.AdminView .side-bar {
  width: 200px;
  background: #00bcd4;
  color: #fff;
}
.AdminView .side-bar .tab-list .tab {
  cursor: pointer;
  padding: 20px 20px;
}
.AdminView .side-bar .tab-list .tab .tab-icon {
  display: none;
}
.AdminView .side-bar .tab-list .tab .tab-label {
  padding: 0 10px;
}
.AdminView .side-bar .tab-list .tab:hover {
  background: #fff;
  color: #00bcd4;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.25);
}
.AdminView .side-bar .tab-list .tab.selected {
  border-left: 2px solid #fff;
}
.AdminView .input-label {
  display: inline-block;
  width: 200px;
  text-align: left;
  padding: 20px;
  font-size: 16px;
  color: #333;
  letter-spacing: 0;
}
.AdminView .input-container {
  height: 40px;
  width: 240px;
  border: 1px solid #999;
  padding: 10px 15px;
  display: inline-block;
}
.AdminView .input-container.dijitValidationTextBoxError {
  border: 1px solid #f00;
}
.AdminView .input-container .dijitValidationInner {
  display: none;
}
.AdminView .input-container input.dijitInputInner {
  text-align: left;
  border: none;
  line-height: 18px;
  width: 200px;
  font-size: 16px;
}
.AdminView .input-container input.dijitInputInner:focus {
  outline: none;
}
.AdminView .btn {
  position: relative;
  width: 100px;
  height: 40px;
  background: #009eff;
  border: none;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  display: inline-block;
  line-height: 40px;
  text-align: center;
}
.AdminView .btn:focus {
  outline: none;
}
.AdminView .btn:hover {
  box-shadow: 0px 2px 15px rgba(0,0,0,0.25);
}
.AdminView .image-list {
  min-height: 350px;
  min-width: 500px;
  margin: 30px;
  border: 1px solid #d3d3d3;
}
.AdminView .image-list .photo {
  display: inline-block;
  margin: 5px;
  position: relative;
}
.AdminView .image-list .photo .image {
  text-align: center;
  line-height: 150px;
  display: block;
  color: #fff;
  background: #009eff;
  height: 150px;
  width: 150px;
}
.AdminView .image-list .photo .remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  display: none;
}
.AdminView .image-list .photo:hover .remove-btn {
  display: block;
}
.AdminView .image-list .photo .name {
  font-size: 8px;
  color: #2b2a2a;
  position: absolute;
  bottom: 0;
  background: #fff;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.8);
}
.AdminView .add-btn {
  cursor: pointer;
  text-align: center;
  display: block;
  color: #fff;
}
.AdminView .add-btn:hover::before,
.AdminView .add-btn:hover::after {
  border-width: 30px;
}
