.AdminView
  .side-bar
    width 200px;
    background: rgb(0, 188, 212)
    color white
    .tab-list
      .tab
        cursor pointer
        padding 20px 20px;
        .tab-icon
          display none //TODO
        .tab-label
          padding 0 10px;
        &:hover
          background: white;
          color: rgb(0, 188, 212);
          box-shadow : 0px 2px 15px rgba(0, 0, 0, 0.25);
        &.selected
          border-left 2px solid white

  .input-label
    display: inline-block;
    width: 200px;
    text-align: left;
    padding: 20px;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;

  .input-container
    height 40px
    width 240px
    border: 1px solid #999999;
    padding 10px 15px;
    display:inline-block
    &.dijitValidationTextBoxError
      border 1px solid red
    .dijitValidationInner
      display none //TODO
    input.dijitInputInner
      text-align left
      border  none
      line-height 18px
      width 200px
      font-size 16px;
      &:focus
        outline none

  .btn
    position relative;
    width 100px
    height 40px;
    background: #009EFF;
    border none
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    &:focus
      outline:none
    &:hover
      box-shadow : 0px 2px 15px rgba(0, 0, 0, 0.25);
  .image-list
    min-height 350px;
    min-width: 500px;
    margin: 30px;
    border: 1px solid lightgray;
    .photo
      display inline-block
      margin 5px;
      position relative
      .image
        text-align: center;
        line-height: 150px;
        display: block;
        color: white;
        background #009EFF
        height: 150px;
        width: 150px
      .remove-btn
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        color: white;
        cursor pointer
        display: none
      &:hover
        .remove-btn
          display block;
      .name
        font-size 8px
        color #2b2a2a
        position absolute
        bottom: 0
        background: white;
        padding: 10px;
        width: 100%;
        overflow hidden
        box-shadow 0 2px 5px rgba(0, 0, 0, 0.80);
  .add-btn
    cursor pointer
    text-align: center;
    display: block;
    color: white;
    &:hover
      &::before
      &::after
        border-width 30px;
