//TODO
.main-content
  background url(images/background.jpg) no-repeat
  background-position  center
  background-size 100% auto

.LoginView
  position relative
  overflow visible !important
  .login-dailog
    padding 40px;
    width 420px;
    height 570px;
    position absolute
    top:0px;
    bottom 0px
    margin auto
    right 80px;
    background white;
    .title
      font-size: 22px;
      color: #333333;
      letter-spacing: 0;
      margin px 0px
      text-align center
    form
      padding 50px 0px 30px
      color #979797
      .fa
        color #979797
      .input-container
        margin-bottom 10px;
        .valid-msg
          visibility: hidden;
          padding 7px 25px;
          font-size: 10px;
          color: #E83828;
          letter-spacing: 1px;
          .fa
            color inherit
        .input-group
          border 1px solid #979797
          border-radius 50px
          overflow hidden
          padding 15px
          .input-group-addon
            border none
            background inherit
            padding 0px 10px
          .form-control
            padding 0px 10px
            border none
            box-shadow none
            border-left 1px solid #979797
            height 20px;
            outline none
            width 250px;
      .btn
        width 100%
        height 50px;
        border-radius 50px;
        background: #009EFF;
        border none
        cursor pointer
        color white
        &:focus
          outline:none
      .forget-register
        font-size: 13px;
        color: #666666;
        padding: 6px 25px;
        a
          font-size: 13px;
          color: #666666;
          text-decoration: none
        .register-btn
          float: right

    .spr
      position relative
      span
        color: #999999;
        font-size: 13px;
        position: absolute;
        left: 0;
        right: 0;
        top: -9px;
        width: 100px;
        margin: auto;
        text-align: center;
        background: white;
        padding: 0 10px;
    .login-btns-3rdparty
      .login-btn
        display inline-block
        padding 22px;
        cursor pointer
        .icon-label
          text-align center
          font-size: 12px;
          color: #666666;
        img.login-icon
          width 60px;


