.RegisterView {
  padding: 30px 0;
}
.RegisterView .valid-msg {
  visibility: hidden;
  left: 140px;
  position: relative;
  padding-bottom: 10px;
  font-size: 14px;
  color: #f00;
}
.RegisterView .dataForm {
  padding: 30px 30px 15px 30px;
}
.RegisterView button {
  cursor: pointer;
}
.RegisterView .paneStack>div {
  display: none;
}
.RegisterView .paneStack>div.selected {
  display: block;
}
.RegisterView>.container {
  box-shadow: 0px 2px 20px #808080;
  background: #fff;
}
.RegisterView .register-status {
  padding: 30px 0 0;
}
.RegisterView .register-status >img {
  width: 450px;
  margin: auto;
}
.RegisterView .register-status .labels {
  padding: 10px 42px;
}
.RegisterView .register-status .status-label {
  display: inline-block;
  padding: 0px 23px;
}
.RegisterView .title {
  font-family: MicrosoftYaHei;
  font-size: 24px;
  color: #333;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}
.RegisterView .input-label {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding: 20px;
  font-size: 12px;
  color: #333;
  letter-spacing: 0;
}
.RegisterView .input-container {
  height: 40px;
  width: 240px;
  border: 1px solid #999;
  border-radius: 100px;
  padding: 10px 15px;
  display: inline-block;
}
.RegisterView .input-container.dijitValidationTextBoxError {
  border: 1px solid #f00;
}
.RegisterView .input-container .dijitValidationInner {
  display: none;
}
.RegisterView .input-container input.dijitInputInner {
  text-align: left;
  border: none;
  line-height: 18px;
  width: 200px;
  font-size: 16px;
}
.RegisterView .input-container input.dijitInputInner:focus {
  outline: none;
}
.RegisterView .btn {
  position: relative;
  left: 135px;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  background: #009eff;
  border: none;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  line-height: 16px;
}
.RegisterView .btn:focus {
  outline: none;
}
