<div class="AdminView">
    <div data-dojo-attach-point="loaderNode" class="loaderOverlay"><i class="loader fa fa-spinner fa-spin  fa-3x"></i></div>
    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'sidebar', gutters:true" data-dojo-attach-point="borderContainer">
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'leading'" class="side-bar" >
            <div class="tab-list" data-dojo-attach-point="tabist">
                <div data-dojo-type="dijit/_WidgetBase" data-dojo-attach-event="click:selectRecharge" class="tab"><span class="tab-icon"><i class="fa fa-file-image-o"></i></span><span class="tab-label">充值/退款</span></div>
                <div data-dojo-type="dijit/_WidgetBase" data-dojo-attach-event="click:select2Dmanagement" class="tab"><span class="tab-icon"><i class="fa fa-file-image-o"></i></span><span class="tab-label">2D合成</span></div>
            </div>
        </div>
        <div data-dojo-type='dijit/layout/StackContainer' data-dojo-attach-point="stackContainer" data-dojo-props="region:'center'" >
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="rechargePane" data-dojo-props="title:'reCharge'">
                <h1 style="padding: 20px;">充值/退款</h1>
                <div  data-dojo-type="dijit/form/Form" data-dojo-attach-point="rechargeForm" class="dataForm">
                    <div class="input-group">
                        <div class="input-label" for="">会员</div>
                        <select class="input-container" data-dojo-attach-point="rechargemMmeberId" name="memberId"  required="required"
                                data-dojo-props="placeHolder:'操作类型',searchAttr:'memberName'"
                                data-dojo-type="angrui/components/Select" value="">
                            <option value="1">12312312312</option>
                            <option value="2">12312312311</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <div class="input-label" for="">操作类型</div>
                        <select class="input-container" data-dojo-attach-point="chargeType" name="transType"  required="required"  data-dojo-props="placeHolder:'操作类型'" data-dojo-type="angrui/components/Select" value="">
                            <option value="1">充值</option>
                            <option value="2">退款</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <div class="input-label" for="">当前余额</div>
                        <input class="input-container" type="text" readonly
                               data-dojo-type='dijit/form/ValidationTextBox' data-dojo-attach-point="balance" >
                    </div>
                    <div class="input-group">
                        <div class="input-label" for="">金额</div>
                        <input class="input-container" type="text"  name="amount"  required="required"
                               data-dojo-props="required:true, missingMessage:'请输入金额' ,regExp:'\\d*[\\.]?\\d*', invalidMessage:'请输入正确的金额'"
                               data-dojo-type='dijit/form/ValidationTextBox' data-dojo-attach-point="address" placeholder="金额">
                    </div>
                    <div class="input-group">
                        <div class="input-label" for="">备注</div>
                        <input class="input-container" type="text"  name="remark"  data-dojo-type='dijit/form/ValidationTextBox' data-dojo-attach-point="address" placeholder="备注">
                    </div>
                    <div style="padding: 10px;">
                        <div class="btn btn-primary" data-dojo-attach-event="click:executeCharge">确定</div>
                        <div class="btn btn-primary" data-dojo-attach-event="click:cancelCharge">取消</div>
                    </div>
                </div>
            </div>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="rechargePane" data-dojo-props="title:'2dManagement'">
                <h1 style="padding: 20px;">2D 合成</h1>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>