<div class="ListView">
    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'sidebar', gutters:true" data-dojo-attach-point="borderContainerNode">
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'leading'" class="side-bar" >
            <div class="tab-list" data-dojo-attach-point="tabist">
                <div data-dojo-type="dijit/_WidgetBase" data-dojo-props="status:'all'" class="tab selected allTab"><span class="tab-icon"><i class="fa fa-file-image-o"></i></span><span class="tab-label">全部</span></div>
                <div data-dojo-type="dijit/_WidgetBase" data-dojo-props="status:'completed'" class="tab finishedTab"><span class="tab-icon"><i class="fa fa-file-image-o"></i></span><span class="tab-label">已完成</span></div>
                <div data-dojo-type="dijit/_WidgetBase" data-dojo-props="status:'processing'" class="tab processingTab"><span class="tab-icon"><i class="fa fa-file-image-o"></i></span><span class="tab-label">处理中</span></div>
            </div>
        </div>
        <div data-dojo-type='dijit/layout/ContentPane' data-dojo-props="region:'center'" >
            <div data-dojo-attach-point="loaderNode" class="loaderOverlay"><i class="loader fa fa-spinner fa-spin  fa-3x"></i></div>
            <div class="titlePane" style=" height: 60px; border:1px solid gainsboro; ">
                <button class="btn" data-dojo-attach-event="click:newScan"><i class="fa fa-plus"></i><span class="btn-label">新建场景</span></button>
            </div>
            <div data-dojo-type='dijit/layout/_LayoutWidget' data-dojo-mixins='dijit/_Container'data-dojo-attach-point="container" class="scanList">
            </div>
        </div>
    </div>
</div>