<div class="RegisterView">
    <div class="container"  >
        <div class="container"  style="width: 466px;padding: 58px 0;">
            <div class="title">企业注册</div>
            <div data-dojo-attach-point="paneStack" class="paneStack">
                <div class="basic-info" data-dojo-attach-point="basicPane" >
                    <div class="register-status" >
                        <img src="${basicStatusPng}" >
                        <div class="labels">
                            <div class="status-label">填写手机号</div>
                            <div class="status-label">完善信息</div>
                            <div class="status-label">注册完成</div>
                        </div>
                    </div>
                    <div  data-dojo-type="dijit/form/Form" data-dojo-attach-point="basicInfoForm" class="dataForm">
                        <div class="input-group">
                            <div class="input-label" for="">会员名称</div>
                            <input type="text"  class="input-container"  data-dojo-type='dijit/form/ValidationTextBox'
                                   name='memebername'
                                   data-dojo-props="required:true, missingMessage:'请输入会员名称' ,regExp:'[a-zA-Z0-9_]{6,16}', invalidMessage:'6-16位字母数字或者下划线组成'"
                                   data-dojo-attach-point="username">
                        </div>
                        <div class="input-group">
                            <div class="input-label" for="">手机号码</div>
                            <input class="input-container" type="text"   data-dojo-type='dijit/form/ValidationTextBox'
                                   data-dojo-props="required:true, missingMessage:'请输入手机号码' ,regExp:'\\d{11}', invalidMessage:'请输入正确的手机号码'"
                                   data-dojo-attach-point="phoneNumber" name="tel">
                        </div>
                        <div class="input-group">
                            <div class="input-label" for="">图片验证码</div>
                            <input class="input-container" type="text"   data-dojo-type='dijit/form/ValidationTextBox' >
                        </div>
                        <div class="input-group">
                            <div class="input-label" for="">短信验证码</div>
                            <input class="input-container" type="text"   data-dojo-type='dijit/form/ValidationTextBox' >
                        </div>
                        <div class="input-group">
                            <div class="input-label" for="">输入密码</div>
                            <input class="input-container" type="password"   data-dojo-type='dijit/form/ValidationTextBox'
                                   data-dojo-props="required:true,missingMessage:'请输入密码'"
                                   data-dojo-attach-point="password" name="password">
                        </div>
                        <div class="input-group">
                            <div class="input-label" for="">确认密码</div>
                            <input class="input-container" type="password"   data-dojo-type='dijit/form/ValidationTextBox'
                                   data-dojo-props="required:true"
                                   data-dojo-attach-point="repeatPassword" >
                        </div>
                    </div>
                    <button class="btn btn-primary" data-dojo-attach-event="click:saveBasic">下一步</button>
                </div>
                <div class="addtional-info" data-dojo-attach-point="additionalPane" >
                    <div class="register-status" >
                        <img src="${additionalStatusPng}" >
                        <div class="labels">
                            <div class="status-label">填写手机号</div>
                            <div class="status-label">完善信息</div>
                            <div class="status-label">注册完成</div>
                        </div>
                    </div>
                    <div  data-dojo-type="dijit/form/Form" data-dojo-attach-point="additionalForm" class="dataForm">
                        <div class="input-group">
                            <div class="input-label" for="">企业名称</div>
                            <input class="input-container" type="text" data-dojo-type='dijit/form/ValidationTextBox'  required="required"  data-dojo-attach-point="company" name="company">

                        </div>
                        <div class="input-group">
                            <div class="input-label" for="">所在地</div>
                            <select class="input-container" data-dojo-attach-point="province" name="province"  required="required"  data-dojo-props="placeHolder:'省份'" data-dojo-type="angrui/components/Select" value="">
                            </select>
                        </div>
                        <div class="input-group">
                            <div class="input-label" for="">-</div>
                            <select  class="input-container" data-dojo-attach-point="city"  name="city"  required="required"  data-dojo-props="placeHolder:'城市'" data-dojo-type="angrui/components/Select" value="">
                            </select>
                        </div>
                        <div class="input-group">
                            <div class="input-label" for="">-</div>
                            <input class="input-container" type="text"  name="address"  required="required"  data-dojo-type='dijit/form/ValidationTextBox' data-dojo-attach-point="address" placeholder="详细地址">
                        </div>
                        <div class="input-group">
                            <div class="input-label" for="">行业类型</div>
                            <select class="input-container" data-dojo-attach-point="industry" name="industry"  required="required"  data-dojo-props="placeHolder:'行业类型'" data-dojo-type="angrui/components/Select" value="">
                                <option value="TN">IT</option>
                                <option value="T2">工业</option>
                                <option value="T3">酒店</option>
                                <option value="T4">服务行业</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <div class="input-label" for="">联系人姓名</div>
                            <input class="input-container" type="text" name="contact"   required="required"  data-dojo-type='dijit/form/ValidationTextBox' data-dojo-attach-point="contact" placeholder="请填写身份证上的名字">
                        </div>
                        <div class="input-group">
                            <div class="input-label" for="">邮箱</div>
                            <input class="input-container" type="email" name="mail" required="required" data-dojo-type='dijit/form/ValidationTextBox' data-dojo-attach-point="mail" >
                        </div>
                    </div>
                    <div class="valid-msg" data-dojo-attach-point="validMsg">
                        <div class="msg">
                            <i class="fa fa-exclamation-triangle" ></i><span data-dojo-attach-point="validMsgNode" >注册失败</span>
                        </div>
                    </div>
                    <button class="btn btn-primary" data-dojo-attach-event="click:register">注册</button>
                </div>
                <div class="finish" data-dojo-attach-point="finishPane" >
                    <div class="register-status" >
                        <img src="${finishStatusPng}" >
                        <div class="labels">
                            <div class="status-label">填写手机号</div>
                            <div class="status-label">完善信息</div>
                            <div class="status-label">注册完成</div>
                        </div>
                    </div>
                    <div style="padding: 30px;width: 350px;margin: auto;">
                        <img src="${finishIcon}" style="width: 62px;float: left;margin-right: 10px;" alt="">
                        <div>
                            <div style="font-size: 24px; line-height: 40px;">恭喜您，注册成功！</div>
                            <div style="color: lightgray;">请牢记您新设置的密码。</div>
                        </div>
                    </div>
                    <button class="btn btn-primary" style="width: 200px;" data-dojo-attach-event="click:login">自动登录</button>
                </div>
            </div>
        </div>
    </div>
</div>